* {
  margin: 0;
  padding: 0;
}
#nav {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: fixed;
  z-index: 1;
  background-color: white;
}
#logo {
  width: 175px;
}
.forcenteralignment {
  display: flex;
  justify-content: center;
}
.positsionfix {
  position: fixed;
  width: 100%;
  z-index: 1;
}
#SHIPWITHMYDTDC {
  background-color: rgb(2, 2, 90);
  color: white;
  width: 150px;
  height: 40px;
  border: 0;
  /* padding: 0.5rem;
    padding-top: 1rem; */
}
#SHIPWITHMYDTDC :hover {
  background-color: rgb(219, 0, 0);
  /* transform: scale(1.2);
    transition-duration: 0.2s; */
  border: 0;
}
.fordecaration {
  text-decoration: none;
  color: white;
}
.fordecaration:hover {
  color: white;
}
#centerofnav {
  display: flex;
  width: 35rem;
  justify-content: space-between;
}
.locationfinder {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 7rem;
  color: white;
  font-size: 2rem;
}
.hroflocationfinder {
  width: 5rem;
  color: rgb(255, 0, 0);
  border: 1px solid red;
}
.locationfinderdiv {
  background-color: rgb(0, 0, 53);
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 2rem;
}
.theexp {
  color: rgba(128, 128, 128, 0.884);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 1250px;
}
.theeexpone {
  display: flex;
  flex-direction: column;
  height: 7rem;
  justify-content: space-evenly;
  padding-left: 2rem;
}
.herewe {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.expandtext {
  display: flex;
}
.exptext {
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.hrclassforline {
  border: 1.25px solid red;
  width: 8rem;
}
.dicasnhr {
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bigtextandcontent {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: gray;
  text-decoration: none;
}
.bigtextandcontentt {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(4, 0, 66);
  font-weight: bold;
  text-decoration: none;
}
.expbold {
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.imgfrosize {
  width: 600px;
  height: 400px;
}
